@import url("//fonts.googleapis.com/css?family=Lato:400,700,400italic");
@import "/client/style/bootstrap-variables.less";

@footer-height: 250px;


html, body
{
	height:100%;
}

.layout {
	min-height: 100%;
	height: auto !important; /* This line and the next line are not necessary unless you need IE6 support */
	height: 100%;
	margin: 0 auto -@footer-height; /* the bottom margin is the negative value of the footer's height */
}


footer, .push {
	clear: both;
}

footer, .push
{
	height: @footer-height;
}

/*==========  Custom Style Corrections  ==========*/
.notificationsDropdown .notification .badge {background-color: white !important;}
.has-error .help-block {color: #e74c3c !important;}
.text-danger {color:#e74c3c !important;}
@progress-bar-color : red !important;

