footer
{
	background: #2b2b2b;
	color: #ddd;
	padding: 50px 0 30px;
	margin-top:30px;

	.social-networks
	{
		list-style: none;
		padding: 30px 0px;

		li
		{
			display: inline-block;
		}
	}
}
// .master-layout {padding-top:65px;}