<template name="masterLayout">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	
	<div class="layout master-layout {{$.Session.get 'sidebar'}}">
		{{>header}}
		<div class="container close-navbar">
			{{> yield }}
		</div>
		<div class="push"></div>
	</div>
	{{> footer}}
	{{> autoformModals}}
</template>