<template name="postDashboard">
	<div class="dashboardWrapper">
		<div  id="champion-messages">
			<div class="col-md-3">
				{{> add}}
				{{> favorites}}
			</div>
			<div class="col-md-9">
				{{> alert}}
				{{> posts}}
			</div>
		</div>
	</div>
</template>

<template name="add">
	<div class="panel panel-default">
		  <div class="panel-heading">
			<h3 class="panel-title">Add a Post</h3>
		  </div>
		  <div class="panel-body">
			{{#autoForm id="add" collection="Posts" type="insert"}}
				{{> afQuickField name="title"}}
				{{> afQuickField name="content"}}
				<button type="submit" class="btn btn-primary">Add Post</button>
			{{/autoForm}}
		  </div>
	</div>
</template>

<template name="posts">
	{{#each orderByFavorites Posts}}
		<div class="panel panel-default">
			  <div class="panel-heading">
					<h3 class="panel-title">
						{{title}}
						<span class="pull-right">
							<i class="fa fa-clock-o"></i> {{publishedDate}}
							<i class="fa fa-thumbs-up"></i> {{favoriteCount _id}}
							<i class="fa fa-comments"></i> {{commentCount _id}}
						</span>
					</h3>
			  </div>
			  <div class="panel-body">
			  		<div class="postSummary">
			  			{{summary}}
			  		</div>
					<div class="postContent">
						{{{content}}}
					</div>
					
					{{#if $eq owner User._id}}
					<small>
								{{#afModal title="Update post" omitFields="createdAt,updatedAt,owner" class="text-primary" collection="Posts" operation="update" doc=_id}}
									<i class="fa fa-pencil" buttonContent="Edit post"></i> Edit post
								{{/afModal}}
								{{#afModal title="Delete post" class="text-danger" collection="Posts" operation="remove" doc=_id}}
									<i class="fa fa-times" buttonContent="Edit post"></i> Delete
								{{/afModal}}
							</small>
					{{/if}}
			  </div>
			  <div class="panel-footer">
			  	{{> favoriteButton _id=_id}}
			  	{{> commentFormToggle }}
			  	{{> comments}}
			  </div>
		</div>
	{{/each}}
</template>

<template name="favorites">
	{{#if Favorites 'Posts'}}
	<div class="panel panel-default">
		<div class="panel-heading">
				<h3 class="panel-title">Favorites</h3>
		</div>
		<div class="panel-body">
			<ul>
			{{#each Favorites 'Posts'}}
				<li>
					<a>{{title}}</a>
				</li>
			{{/each}}
			</ul>
		</div>
	</div>
	{{/if}}
</template>