<template name="customNotifications">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Notification Center</h3>
        </div>
        <div class="panel-body">
            <ul class="list-group">
                {{#each Notifications}}
                <li class="list-group-item notification {{notificationClass}}">
                    <i class="fa fa-{{icon}}"></i>
                          <a data-toggle="collapse" data-parent="#accordion" href="#{{_id}}" class="collapsed">
                               {{title}}
                          </a>
                         <span class="label label-default pull-right">{{ago}}</span>
                   </li>
                   <div id="{{_id}}" class="panel-collapse collapse" style="height: 0px;">
                      <div class="panel-body">
                          {{content}}
                      </div>
                  </div>
                {{/each}}
            </ul>
        </div>
    </div>
</template>

<template name="customNotificationsDropdown">
    <li class="dropdown notificationsDropdown">
        <a href="#" class="notification">
      {{#if notificationCount}}
        <i class="fa fa-{{dropdownIcon}}"></i>
        <span class="badge bg-success">{{notificationCount}}</span>
      {{else}}
        <i class="fa fa-{{dropdownIconEmpty}}"></i>
      {{/if}}
    </a>

        <ul class="dropdown-menu" role="menu">
            {{#if hasNotifications}} {{#each Notifications limit=5 unreadFirst=true}}
            <li class="well-sm notification {{notificationClass}}">
                <a class="bg-{{class}}" href="/notifications"><i class="fa fa-{{icon}}"></i> {{title}}</a>
            </li>
            {{/each}}
            <li class="well-sm"><a href="/notifications">See all</a>
            </li>
            {{else}}
            <li>
                <div class="well-sm">0 Notifications</div>
            </li>
            {{/if}}
        </ul>
    </li>
</template>


