<template name="dashboard">
	<div class="container">
		<div class="page-header">
			<h1>Dashboard</h1>
		</div>

		<div id="content">
			<ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
				<li class="active"><a href="#instructorTab" data-toggle="tab">Instructors</a></li>
				<li><a href="#courseTab" data-toggle="tab">Courses</a></li>
				<li><a href="#scheduleTab" data-toggle="tab">Schedules</a></li>
				<li><a href="#postTab" data-toggle="tab">Post Example</a></li>
				<li><a href="#nasaTab" data-toggle="tab">Nasa</a></li>
			</ul>

			<br />

			<div id="my-tab-content" class="tab-content row">
				<div class="tab-pane active" id="instructorTab">
					<div class="jumbotron">
						<div class="container">
							<h1>Instructor Information</h1>
							<p>Comming Soon</p>
						</div>
					</div>
				</div>
				<div class="tab-pane" id="courseTab">
					<div class="jumbotron">
						<div class="container">
							<h1>Course Information</h1>
							<p>Comming Soon</p>
						</div>
					</div>
				</div>
				<div class="tab-pane" id="scheduleTab">
					<div class="jumbotron">
						<div class="container">
							<h1>Schedule Information</h1>
							<p>Comming Soon</p>
						</div>
					</div>
				</div>
				<div class="tab-pane" id="postTab">
					{{> postDashboard}}
				</div>
				<div class="tab-pane" id="nasaTab">
					{{> nasaDashboard}}
				</div>
			</div>
		</div>
	</div>
</template>



