<template name="footer">
	<footer>
		<div class="container">
			<div class="row text-center">
				<div class="col-md-offset-2 col-md-8">
					<ul class="social-networks">
						{{#each Config.socialMedia}}
						<li><a href="{{[0]}}" target="_blank">
						<span class="fa-stack fa-2x">
							<i class="fa fa-circle fa-stack-2x"></i>
							<i class="fa fa-{{[1]}} fa-stack-1x fa-inverse"></i>
						</span></a>
						</li>
						{{/each}}
					</ul>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 text-center">
					{{{Config.footer}}}<br>
          v{{Config.version}}
				</div>
			</div>
		</div>
	</footer>
</template>