<template name="nasaDashboard">
	<div class="nasaWrapper">
		<div  id="champion-messages">
			<div class="col-md-3">
				{{> nasaSearch}}
			</div>
			<div class="col-md-9">
				{{> nasaItems}}
			</div>
		</div>
	</div>
</template>

<template name="nasaSearch">
	<div class="panel panel-default">
		  <div class="panel-heading">
			<h3 class="panel-title">Search Nasa</h3>
		  </div>
		  <div class="panel-body">
			 <input id="filter" type="text" class="form-control" >
		  </div>
	</div>	
</template>

<template name="nasaItems">
	<table class="table table-bordered table-hover">
			<thead>
				<tr>
					<th>Shuttle Name</th>
					<th>Number of Crew</th>
					<th>Crew Owner</th>
				</tr>
			</thead>
			<tbody class="searchItems">
				{{#each filter}}
					<tr>
						<td>{{shuttlename}}</td>
						<td>{{numberofcrew}}</td>
						<td>{{owner}}</td>
					</tr>
				{{/each}}
			</tbody>
		</table>	
</template>